In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
%matplotlib inline

In [2]:
data_train = pd.read_csv('train.csv')
data_test = pd.read_csv('test.csv')

###  Заполнение пропусков

In [3]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [4]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            332 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [5]:
# Fill empty and NaNs values with NaN
data_train = data_train.fillna(np.nan)
data_test = data_test.fillna(np.nan)

In [6]:
def format_name(df):
    df['LastName'] = df.Name.apply(lambda x: x.split(' ')[0])
    df['NamePrefix'] = df.Name.apply(lambda x: x.split(' ')[1])
    return df

def simplify_Prefix(data):
    data['NamePrefix'] = data['NamePrefix'].replace(['Dr.', 'Rev.', 'y', 'Impe,',
       'Planke,', 'Gordon,', 'Mlle.', 'Col.', 'Major.', 'Walle,', 'Steen,',
       'Jonkheer.', 'der', 'Mulder,', 'Shawah,', 'the', 'Pelsmaeker,',
       'Cruyssen,', 'Carlo,', 'Messemaeker,', 'Don.', 'Capt.', 'Ms.', 'Velde,',
       'Billiard,', 'Mme.', 'Melkebeke,'], 'Prefix')
    return data

In [7]:
data_train = format_name(data_train)
data_train.NamePrefix.value_counts()[:5]

Mr.        502
Miss.      179
Mrs.       121
Master.     40
Dr.          7
Name: NamePrefix, dtype: int64

In [8]:
data_test = format_name(data_test)
data_test.NamePrefix.value_counts()[:5]

Mr.        234
Miss.       77
Mrs.        70
Master.     19
y            4
Name: NamePrefix, dtype: int64

In [9]:
data_train[['NamePrefix', 'Age']].groupby(['NamePrefix'], as_index=False).mean().sort_values(by='Age', ascending=False)

      NamePrefix        Age
1          Capt.  70.000000
28           der  61.000000
3           Col.  58.000000
10        Major.  48.500000
7        Gordon,  48.500000
4      Cruyssen,  47.000000
23          Rev.  43.166667
6            Dr.  42.000000
0      Billiard,  40.500000
5           Don.  40.000000
9      Jonkheer.  38.000000
18          Mrs.  36.182692
13  Messemaeker,  36.000000
26        Velde,  33.000000
29           the  33.000000
17           Mr.  32.389610
24       Shawah,  30.000000
20       Mulder,  30.000000
2         Carlo,  29.000000
27        Walle,  28.000000
19           Ms.  28.000000
25        Steen,  28.000000
8          Impe,  25.333333
16          Mme.  24.000000
15         Mlle.  24.000000
14         Miss.  21.846154
22       Planke,  21.666667
30             y  20.666667
21   Pelsmaeker,  16.000000
11       Master.   4.574167
12    Melkebeke,        NaN

In [10]:
data_train = simplify_Prefix(data_train)
data_test = simplify_Prefix(data_test)

In [11]:
def FillAge(data):
    index_NaN_age = list(data["Age"][data["Age"].isnull()].index)

    for i in index_NaN_age :
        data['Age'].iloc[i] = data["Age"][data['NamePrefix'] == data.iloc[i]["NamePrefix"]].mean()
    return data

In [12]:
data_train = FillAge(data_train)
data_test = FillAge(data_test)

/home/stas/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:179: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [13]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
LastName       891 non-null object
NamePrefix     891 non-null object
dtypes: float64(2), int64(5), object(7)
memory usage: 97.5+ KB

In [14]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Name           418 non-null object
Sex            418 non-null object
Age            418 non-null float64
SibSp          418 non-null int64
Parch          418 non-null int64
Ticket         418 non-null object
Fare           417 non-null float64
Cabin          91 non-null object
Embarked       418 non-null object
LastName       418 non-null object
NamePrefix     418 non-null object
dtypes: float64(2), int64(4), object(7)
memory usage: 42.5+ KB

In [15]:
data_train.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,LastName,NamePrefix
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.00,NaN,S,"Montvila,",Prefix
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.00,B42,S,"Graham,",Miss.
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.846154,1,2,W./C. 6607,23.45,NaN,S,"Johnston,",Miss.
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.00,C148,C,"Behr,",Mr.
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.75,NaN,Q,"Dooley,",Mr.

In [16]:
data_test.tail()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,LastName,NamePrefix
413,1305,3,"Spector, Mr. Woolf",male,32.050847,0,0,A.5. 3236,8.0500,NaN,S,"Spector,",Mr.
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.000000,0,0,PC 17758,108.9000,C105,C,Oliva,Prefix
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,"Saether,",Mr.
416,1308,3,"Ware, Mr. Frederick",male,32.050847,0,0,359309,8.0500,NaN,S,"Ware,",Mr.
417,1309,3,"Peter, Master. Michael J",male,7.150625,1,1,2668,22.3583,NaN,C,"Peter,",Master.

In [17]:
data_test = data_test.drop(["Ticket", "LastName", "Cabin"], axis = 1)
data_train = data_train.drop(["Ticket", "LastName", "Cabin"], axis = 1)

In [18]:
data_train.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [19]:
data_train["Embarked"] = data_train.Embarked.fillna("S")
data_test["Fare"] = data_test.Fare.fillna(8)

In [20]:
data_test = data_test.drop(["Name"], axis = 1)
data_train = data_train.drop(["Name"], axis = 1)

In [21]:
def simplify_ages(data):
    bins = (0, 3, 8, 16, 24, 32, 40, 120)
    group_names = ['0', '1', '2', '3', '4', '5', '6']
    categories = pd.cut(data.Age, bins, labels=group_names)
    data.Age = categories
    return data

def simplify_fares(df):
    bins = (0, 25, 50, 100, 150, 600)
    group_names = ['0', '1', '2', '3', '4']
    categories = pd.cut(df.Fare, bins, labels=group_names)
    df.Fare = categories
    return df

def simplify_Prefix(data):
    data['NamePrefix'] = data['NamePrefix'].replace(['Dr.', 'Rev.', 'y', 'Impe,',
       'Planke,', 'Gordon,', 'Mlle.', 'Col.', 'Major.', 'Walle,', 'Steen,',
       'Jonkheer.', 'der', 'Mulder,', 'Shawah,', 'the', 'Pelsmaeker,',
       'Cruyssen,', 'Carlo,', 'Messemaeker,', 'Don.', 'Capt.', 'Ms.', 'Velde,',
       'Billiard,', 'Mme.', 'Melkebeke,'], 'Prefix')
    return data

def Family(data):
    data["Family"] = data["SibSp"] + data["Parch"]
    return data

In [22]:
data_test = Family(data_test)
data_test = data_test.drop(["SibSp", "Parch"], axis = 1)
data_train = Family(data_train)
data_train = data_train.drop(["SibSp", "Parch"], axis = 1)

In [23]:
data_test = simplify_ages(data_test)
data_train = simplify_ages(data_train)

In [24]:
data_test = simplify_fares(data_test)
data_train = simplify_fares(data_train)

In [25]:
data_test = simplify_Prefix(data_test)
data_train = simplify_Prefix(data_train)

In [26]:
# convert Sex into categorical value 0 for male and 1 for female
data_train["Sex"] = data_train["Sex"].map({"male": 0, "female":1})
data_test["Sex"] = data_test["Sex"].map({"male": 0, "female":1})

In [27]:
data_test.Fare = data_test.Fare.fillna('1')
data_test.info()
data_train.Fare = data_train.Fare.fillna('1')
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            418 non-null category
Fare           418 non-null category
Embarked       418 non-null object
NamePrefix     418 non-null object
Family         418 non-null int64
dtypes: category(2), int64(4), object(2)
memory usage: 21.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null category
Fare           891 non-null category
Embarked       891 non-null object
NamePrefix     891 non-null object
Family         891 non-null int64
dtypes: category(2), int64(5), object(2)
memory usage: 51.1+ KB

In [28]:
from sklearn import preprocessing
    
def encode_features(data_train, data_test):
    features = ["Embarked", 'NamePrefix', "Age", "Fare"]
    data_combined = pd.concat([data_train[features], data_test[features]], ignore_index=True)
    
    for feature in features:
        le = preprocessing.LabelEncoder()
        le = le.fit(data_combined[feature])
        data_train[feature] = le.transform(data_train[feature])
        data_test[feature] = le.transform(data_test[feature])
    return data_train, data_test



data_train, data_test = encode_features(data_train, data_test)
data_train.tail()

,PassengerId,Survived,Pclass,Sex,Age,Fare,Embarked,NamePrefix,Family
886,887,0,2,0,4,0,2,7,0
887,888,1,1,1,3,1,2,3,0
888,889,0,3,1,3,0,2,3,3
889,890,1,1,0,4,1,0,4,0
890,891,0,3,0,4,0,1,4,0

In [29]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null int64
Fare           891 non-null int64
Embarked       891 non-null int64
NamePrefix     891 non-null int64
Family         891 non-null int64
dtypes: int64(9)
memory usage: 62.7 KB

In [30]:
Id = data_test['PassengerId']
data_test_x = data_test.drop('PassengerId', axis = 1)
data_test_x.tail()

     Pclass  Sex  Age  Fare  Embarked  NamePrefix  Family
413       3    0    5     0         2           4       0
414       1    1    5     3         0           7       0
415       3    0    5     0         2           4       0
416       3    0    5     0         2           4       0
417       3    0    1     0         0           2       2

In [31]:
y_train = data_train["Survived"]
X_train = data_train.drop(["Survived"], axis = 1)

In [32]:
data_test_x.info()
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 7 columns):
Pclass        418 non-null int64
Sex           418 non-null int64
Age           418 non-null int64
Fare          418 non-null int64
Embarked      418 non-null int64
NamePrefix    418 non-null int64
Family        418 non-null int64
dtypes: int64(7)
memory usage: 22.9 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
PassengerId    891 non-null int64
Pclass         891 non-null int64
Sex            891 non-null int64
Age            891 non-null int64
Fare           891 non-null int64
Embarked       891 non-null int64
NamePrefix     891 non-null int64
Family         891 non-null int64
dtypes: int64(8)
memory usage: 55.8 KB

In [33]:
X_train = X_train.drop(['PassengerId'], axis = 1)
X_train.tail()

     Pclass  Sex  Age  Fare  Embarked  NamePrefix  Family
886       2    0    4     0         2           7       0
887       1    1    3     1         2           3       0
888       3    1    3     0         2           3       3
889       1    0    4     1         0           4       0
890       3    0    4     0         1           4       0

In [34]:
data_all = pd.concat([X_train,data_test_x], axis=0, ignore_index=True)
data_all.info()
data_all.tail()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 7 columns):
Pclass        1309 non-null int64
Sex           1309 non-null int64
Age           1309 non-null int64
Fare          1309 non-null int64
Embarked      1309 non-null int64
NamePrefix    1309 non-null int64
Family        1309 non-null int64
dtypes: int64(7)
memory usage: 71.7 KB

      Pclass  Sex  Age  Fare  Embarked  NamePrefix  Family
1304       3    0    5     0         2           4       0
1305       1    1    5     3         0           7       0
1306       3    0    5     0         2           4       0
1307       3    0    5     0         2           4       0
1308       3    0    1     0         0           2       2

In [35]:
from sklearn.linear_model import LogisticRegression as LR
from sklearn.feature_extraction import DictVectorizer as DV

print('Исходные данные:\n')
print(data_all.shape)
encoder = DV(sparse = False)
data_all_e = encoder.fit_transform(data_all.T.to_dict().values())
print('\nЗакодированные данные:\n')
print(data_all_e.shape)

Исходные данные:

(1309, 7)

Закодированные данные:

(1309, 7)

## Обучение

In [39]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import make_scorer, accuracy_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split

In [40]:
num_test = 0.178
X_train_t, X_test_t, y_train_t, y_test_t = train_test_split(X_train, y_train, test_size = num_test, random_state=42)

In [51]:
clf = RandomForestClassifier(criterion = 'gini', max_depth = 15, max_features = 'log2', min_samples_leaf = 1, min_samples_split = 5, n_estimators = 6)

In [52]:
clf.fit(X_train_t, y_train_t)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=15, max_features='log2', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=5,
            min_weight_fraction_leaf=0.0, n_estimators=6, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [53]:
predictions = clf.predict(X_test_t)
print(accuracy_score(y_test_t, predictions))

0.836477987421

In [54]:
model_RFC = RandomForestClassifier()

In [65]:
run_kfold(clf)

Mean Accuracy: 0.8047565543071162

In [66]:
run_kfold(model_RFC)

Mean Accuracy: 0.8013607990012485

In [108]:
# Choose some parameter combinations to try
parameters = {'n_estimators': [2, 4, 6, 9, 15],
'max_features': ['log2','auto'],
'criterion': ['entropy', 'gini'],
'max_depth': [2, 5, 10, 18, 25, 50],
'min_samples_split': [2, 3],
'min_samples_leaf': [2, 5]
}

In [57]:
# Type of scoring used to compare parameter combinations
acc_scorer = make_scorer(accuracy_score)

In [110]:
fold_score = make_scorer(run_kfold)

In [111]:
model_RFC = RandomForestClassifier()

In [113]:
# Run the grid search
grid_obj = GridSearchCV(model_RFC, parameters, scoring=acc_scorer)
grid_obj = grid_obj.fit(X_train, y_train)

In [114]:
# Set the clf to the best combination of parameters
clf_best_random = grid_obj.best_estimator_
print(grid_obj.best_params_, grid_obj.best_score_)

{'criterion': 'entropy', 'max_depth': 18, 'max_features': 'auto', 'min_samples_leaf': 5, 'min_samples_split': 3, 'n_estimators': 4} 0.83164983165

In [115]:
# Fit the best algorithm to the data.
clf_best_random.fit(X_train_t, y_train_t)
predictions = clf_best_random.predict(X_test_t)
print(accuracy_score(y_test_t, predictions))

0.823899371069

In [116]:
run_kfold(clf_best_random)

0.81710505148005153

## KFold

In [37]:
from sklearn.cross_validation import KFold

/home/stas/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [38]:
def run_kfold(model):
    kf = KFold(891, n_folds=8)
    outcomes = []
    fold = 0
    for train_index, test_index in kf:
        fold += 1
        X_train_k, X_test_k = X_train.values[train_index], X_train.values[test_index]
        y_train_k, y_test_k = y_train.values[train_index], y_train.values[test_index]
        model.fit(X_train_k, y_train_k)
        predictions = model.predict(X_test_k)
        accuracy = accuracy_score(y_test_k, predictions)
        outcomes.append(accuracy)

    mean_outcome = np.mean(outcomes)
    return mean_outcome

## XGBOOST

In [ ]:
import xgboost as xgb
from xgboost.sklearn import XGBClassifier

In [ ]:
model = XGBClassifier()

In [ ]:
X_train.info()

In [ ]:
 #Choose some parameter combinations to try
parameters = {'max_depth': [2, 3, 6, 12, 25, 50],
    'n_estimators' : [5, 10, 20, 50, 100, 200],
    'learning_rate' : [0.05, 0.08, 0.09, 0.1, 0.11, 0.12, 0.15]
}

accuracy_scorer = make_scorer(accuracy_score)
# Run the grid search
grid_obj_xgb = GridSearchCV(model, parameters, scoring=accuracy_scorer)
grid_obj_xgb = grid_obj_xgb.fit(X_train_t, y_train_t)

# Set the clf to the best combination of parameters
model_best = grid_obj_xgb.best_estimator_
print(grid_obj_xgb.best_params_, grid_obj_xgb.best_score_)

In [ ]:
model_best.fit(X_train_t, y_train_t)
pred = model_best.predict(X_test_t)
print(accuracy_score(y_test_t, pred))

run_kfold(model_best)

## SVC

In [131]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score, StratifiedKFold

In [125]:
model_c = SVC()

In [132]:
# Cross validate model with Kfold stratified cross val
kfold = StratifiedKFold(n_splits=10)

In [134]:
 #Choose some parameter combinations to try
parameters = {'C': [0.5, 0.75, 1.0, 1.25],
    'kernel' : ['linear', 'poly', 'rbf'],
    'decision_function_shape' : ['ovo', 'ovr']
}

# Run the grid search
grid_obj_SVC = GridSearchCV(model_c, parameters, 
                            cv = kfold, scoring="accuracy", n_jobs= 2, verbose = 1)
grid_obj_SVC = grid_obj_SVC.fit(X_train_t, y_train_t)

# Set the clf to the best combination of parameters
model_best = grid_obj_SVC.best_estimator_
print(grid_obj_SVC.best_params_, grid_obj_SVC.best_score_)

Fitting 10 folds for each of 24 candidates, totalling 240 fits

[Parallel(n_jobs=2)]: Done 132 tasks      | elapsed:   16.6s
[Parallel(n_jobs=2)]: Done 237 out of 240 | elapsed:   38.1s remaining:    0.5s

{'C': 0.5, 'decision_function_shape': 'ovo', 'kernel': 'rbf'} 0.81693989071

[Parallel(n_jobs=2)]: Done 240 out of 240 | elapsed:   41.1s finished

In [135]:
print(cross_val_score(model_best, X_train, y_train).mean())

0.820426487093

In [136]:
run_kfold(model_best)

0.82266529922779918

### Решающие деревья

In [36]:
from sklearn import tree

In [69]:
clf_tree = tree.DecisionTreeClassifier()
clf_tree.fit(X_train_t, y_train_t)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [70]:
predictions = clf_tree.predict(X_test_t)
accuracy_score(y_test_t, predictions)

0.81132075471698117

In [71]:
parameters = {'max_features': ['log2','auto'],
'criterion': ['entropy', 'gini'],
'max_depth': [1, 2, 5, 10, 18, 25, 50],
'min_samples_split': [2, 3, 5],
'min_samples_leaf': [1, 2, 5]
}

In [72]:
# Run the grid search
grid_obj = GridSearchCV(clf_tree, parameters, scoring=acc_scorer)
grid_obj = grid_obj.fit(X_train_t, y_train_t)

In [73]:
# Set the clf to the best combination of parameters
clf_best_tree = grid_obj.best_estimator_
print(grid_obj.best_params_, grid_obj.best_score_)

{'criterion': 'entropy', 'max_depth': 5, 'max_features': 'auto', 'min_samples_leaf': 1, 'min_samples_split': 3} 0.823770491803

In [74]:
# Fit the best algorithm to the data.
clf_best_tree.fit(X_train_t, y_train_t)
predictions = clf_best_tree.predict(X_test_t)
print(accuracy_score(y_test_t, predictions))

0.836477987421

In [75]:
run_kfold(clf_best_tree)

0.8203426640926641

## Предсказание

In [77]:
data_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
PassengerId    418 non-null int64
Pclass         418 non-null int64
Sex            418 non-null int64
Age            418 non-null int64
Fare           418 non-null int64
Embarked       418 non-null int64
NamePrefix     418 non-null int64
Family         418 non-null int64
dtypes: int64(8)
memory usage: 26.2 KB

In [78]:
Id = data_test['PassengerId']
data_test_x = data_test.drop('PassengerId', axis = 1)
data_test_x.tail()

     Pclass  Sex  Age  Fare  Embarked  NamePrefix  Family
413       3    0    5     0         2           4       0
414       1    1    5     3         0           7       0
415       3    0    5     0         2           4       0
416       3    0    5     0         2           4       0
417       3    0    1     0         0           2       2

In [82]:
clf_best_tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=3,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [83]:
pred = clf_best_tree.predict(data_test_x)

In [84]:
output = pd.DataFrame({ 'PassengerId' : Id, 'Survived': pred })

In [85]:
output.tail()

     PassengerId  Survived
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

In [86]:
output.to_csv('titanic-predictions-tree.csv', index = False)